@import './reset.scss';
html {
  box-sizing: border-box;
}
html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
#app {
  position: relative;
  background-color: #333;
  canvas {
    position: absolute;
  }
}
